@using SAS.WEB.Models
@helper SkillListFor(SkillSetViewModel set)
{
    <div class="panel-group">
        @foreach (CategoryViewModel category in set.Categories)
        {
            <div class="panel panel-default">
                <div class="panel-heading"><h4>@category.Name</h4></div>
                <div class="panel-body">
                    <table width="100%">

                        @foreach (SkillModel skill in category.Skills)
                        {
                            <tr>
                                <td>@(skill.Name)</td>
                                <td align="right">
                                    <input name="skills" type="hidden" value="@skill.Id" />
                                    <select id="@("sr" + skill.Id)" name="grades">
                                        <option value="0" @(skill.SkillGrade.Grade == 0 ? "selected" : "")>Choose your level</option>
                                        <option value="1" @(skill.SkillGrade.Grade == 1 ? "selected" : "") data-html="Beginner">Beginner</option>
                                        <option value="2" @(skill.SkillGrade.Grade == 2 ? "selected" : "") data-html="Intermediate">Intermediate</option>
                                        <option value="3" @(skill.SkillGrade.Grade == 3 ? "selected" : "") data-html="Advanced">Advanced</option>
                                        <option value="4" @(skill.SkillGrade.Grade == 4 ? "selected" : "") data-html="Expert">Expert</option>
                                    </select>
                                    <div class="rateit" data-rateit-backingfld="#@("sr" + skill.Id)"></div>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        }
    </div>
}

@helper PositiveSkillListFor(SkillSetViewModel set)
{
    foreach (CategoryViewModel category in set.Categories.Where(c => c.ContainsPositiveSkillGrades == true))
    {
        <h4>@category.Name</h4>
        foreach (SkillModel skill in category.Skills.Where(s => s.SkillGrade.Grade > 0))
        {
            <div class="row">
                <div class="col-md-3">
                    <h6>@(skill.Name)</h6>
                </div>
                <div class="col-md-6">
                    <select id="@("sr" + skill.Id)" name="grades" disabled>
                        <option value="0" @(skill.SkillGrade.Grade == 0 ? "selected" : "")>Choose your level</option>
                        <option value="1" @(skill.SkillGrade.Grade == 1 ? "selected" : "")>Beginner</option>
                        <option value="2" @(skill.SkillGrade.Grade == 2 ? "selected" : "")>Intermediate</option>
                        <option value="3" @(skill.SkillGrade.Grade == 3 ? "selected" : "")>Advanced</option>
                        <option value="4" @(skill.SkillGrade.Grade == 4 ? "selected" : "")>Expert</option>
                    </select>
                    <div class="rateit" data-rateit-backingfld="#@("sr" + skill.Id)"></div>
                </div>
            </div>
        }
    }
}
